{% extends 'base.html' %}

{% block content %}
    <p><a href="{% url 'student-list' %}">Go back to list</a></p>
    
    <section class="d-flex justify-content-between">
        <h1>Student</h1>
        <div>
            <span><a href="{% url 'student-update' student.id %}" class="btn btn-success">Update student</a></span>
            <span><a href="{% url 'student-delete' student.id %}" class="btn btn-danger">Delete student</a></span>
        </div>
        
    </section>

    <h3>Info</h3>

    <p><strong>Fist name</strong>: {{ student.first_name }}</p>
    <p><strong>Last name</strong>: {{ student.last_name }}</p>
    <p><strong>Email</strong>: {{ student.email }}</p>
    <hr>
    <h3>Goups belong to</h3>
    <ul>
    {% for gr in student.group_set.all %}
        <li>{{ gr.title}}</li>
    {% endfor %}
    </ul>

{% endblock content %}